<div class="card-content-detail">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ "GENERAL.DETAILS" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <br />
      <mat-divider></mat-divider>
      <br />
     
      <div>
        <h3>
          <b>{{ "CONTACTS.FULLNAME" | translate }}:</b> {{ contacts.fullName }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.OFFICEPHONE" | translate }}:</b>
          {{ contacts.officePhone }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.MOBILESPHONE" | translate }}:</b>
          {{ contacts.mobilesPhone }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.EMAILS" | translate }}:</b> {{ contacts.emails }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.CHANNEL" | translate }}:</b> {{ contacts.channel }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.TYPECONTACTS" | translate }}:</b>
          {{ contacts.typeContacts.tag }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.COUNTRY" | translate }}:</b> {{ contacts.country }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.STATE" | translate }}:</b> {{ contacts.state }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.CITY" | translate }}:</b> {{ contacts.city }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.TOTALBUSINESS" | translate }}:</b>
          {{ contacts.totalBusiness }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.ORGANIZATION" | translate }}:</b>
          {{ contacts.organization.fullName }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.LEVEL1" | translate }}:</b>
          {{ contacts.level1.fullName }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.LEVEL2" | translate }}:</b>
          {{ contacts.level2.fullName }}
        </h3>
      </div>
      <div>
        <h3>
          <b>{{ "CONTACTS.LEVEL3" | translate }}:</b>
          {{ contacts.level3.fullName }}
        </h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>
