<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Registrar Contacto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="signup-form">
      <div class="form-body">
        <div class="row">
          <div class="input-group">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <input matInput value="Disco party!" #message />
            </mat-form-field>
          </div>
          <div class="input-group">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <input matInput value="Disco party!" #message />
            </mat-form-field>
          </div>
         
        
        </div>
        <div class="row">
          <div class="input-group">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <input matInput value="Disco party!" #message />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <input matInput value="Disco party!" #message />
            </mat-form-field>
          </div>
        </div>
      </div>
      </form>
    </mat-card-content>
  <mat-card-actions class="form-actions">
    <button mat-flat-button color="primary">Guardar</button>
    <button mat-flat-button color="warn">Limpiar</button>
  </mat-card-actions>
</mat-card>
