<mat-toolbar class="mat-elevation-z8">
  <!-- Button Hidden -->
  <!-- <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'" 
      (click)="sidenav.toggle()"
    > -->
  <button mat-icon-button (click)="sidenav.toggle()" >
    <mat-icon *ngIf="!sidenav.opened" class="icon-Custom"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened" class="icon-Custom"> close </mat-icon>
  </button><img class="mini-icon"src="https://saleshub.com.mx/assets/images/logo-5.png"/>
  <span class="display-5">SalesHub</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://lh3.googleusercontent.com/a/AEdFTp4OZ_J7f1IBZqO6sXOUNfxgXazn2rK83z_wMHaV0A=s83-c-mo"
    />

    <h4 class="name">Hector Esparza</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <app-side-bar-navigation
      [Icon]="'home'"
      [Title]="'Home'"
      [Link]="'main'"
    ></app-side-bar-navigation>
    <app-side-bar-navigation
      [Icon]="'person'"
      [Title]="'Contactos'"
      [Link]="'contacts'"
    ></app-side-bar-navigation>
    <app-side-bar-navigation
      [Icon]="'person'"
      [Title]="'Coodinador'"
      [Link]="'level3'"
    ></app-side-bar-navigation>
    <app-side-bar-navigation
    [Icon]="'person'"
    [Title]="'Gerentes'"
    [Link]="'level2'"
  ></app-side-bar-navigation>
  <app-side-bar-navigation
    [Icon]="'person'"
    [Title]="'Vendedor'"
    [Link]="'level1'"
  ></app-side-bar-navigation>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="logOut()" >
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesion</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="content">
      <ng-content></ng-content>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
