<mat-toolbar class="mat-elevation-z8">
  <!-- Button Hidden -->
  <!-- <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'" 
      (click)="sidenav.toggle()"
    > -->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  SalesHUB
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img
      class="avatar mat-elevation-z8"
      src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
    />

    <h4 class="name">Hector Esparza</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <app-side-bar-navigation
      [Icon]="'home'"
      [Title]="'Home'"
      [Link]="'main'"
    ></app-side-bar-navigation>
    <app-side-bar-navigation
      [Icon]="'person'"
      [Title]="'Contactos'"
      [Link]="'contacts'"
    ></app-side-bar-navigation>
    <app-side-bar-navigation
      [Icon]="'home'"
      [Title]="'Home'"
      [Link]="'main'"
    ></app-side-bar-navigation>

    <mat-divider></mat-divider>
    <app-side-bar-navigation
      [Icon]="'logout'"
      [Title]="'Cerrar Sesion'"
      [Link]="'auth'"
    ></app-side-bar-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
