<section class="layout">
  <div class="grow1">
    <app-detail-contacts></app-detail-contacts>
  </div>
  <div class="grow10">
    <nav mat-tab-nav-bar ngClass="tabs">
      <a mat-tab-link routerLink="activities" routerLinkActive="active-link">Actividad</a>
      <a mat-tab-link routerLink="notes" routerLinkActive="active-link">Notes</a>
      <a mat-tab-link routerLink="email" routerLinkActive="active-link">Correos</a>
      <a mat-tab-link routerLink="social" routerLinkActive="active-link">Social</a>
    
    </nav>
    <div>
      Aqui el contenido
      <router-outlet ></router-outlet>
    </div>
  </div>
</section>
