<section class="layout">
  <div class="grow2">
    <app-detail-contacts></app-detail-contacts>
  </div>
  <div class="grow10">
    <nav
      mat-tab-nav-bar
      ngClass="tabs"
      [backgroundColor]="'primary'"
      [tabPanel]="tabPanel"
    >
      <a mat-tab-link routerLink="activities" routerLinkActive="active-link"
        >Actividad</a
      >
      <a mat-tab-link routerLink="notes" routerLinkActive="active-link"
        >Notas</a
      >
      <a mat-tab-link routerLink="email" routerLinkActive="active-link"
        >Correos</a
      >
      <a mat-tab-link routerLink="social" routerLinkActive="active-link"
        >Social</a
      >
    </nav>
    <div>
      <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </div>
  
  </div>
</section>
