<div class="card-content">
  <mat-card class="card-width">
    <mat-card-header>
      <mat-card-title>{{"GENERAL.FORMCOORDINATORS" | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form *ngIf="dataform" [formGroup]="form" (ngSubmit)="sendData()" >
        <div class="form-body">
          <div class="row">
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{"MANAGERS.FULLNAME" | translate}}</mat-label>
                <input matInput matNativeControl="text" formControlName="fullName" />
              </mat-form-field>
            </div>
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{"MANAGERS.PHONES" | translate}}</mat-label>
                <input  matInput matNativeControl="text" formControlName="phones" />
              </mat-form-field>
            </div>
           
           
          
          </div>
         
          <div class="row">
           
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  "MANAGERS.ORGANIZATION" | translate
                }}</mat-label>

                <mtx-select
                (search)="srcOrganization($event)"
                (change)="selectOrganization($event)"
                  [items]="organizations"
                  bindLabel="fullName"
                 
                  formControlName="organization"
                  [required]="true"
                  notFoundText="{{ 'GENERAL.NOTFOUNDTEXT' | translate }}"
                >
                </mtx-select>

                 <!-- <mat-error>Please choose a food</mat-error>  -->
              </mat-form-field>
            </div>
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  "MANAGERS.COORDINATOR" | translate
                }}</mat-label>

                <mtx-select
                  (search)="srcCoordinator($event)"
                  (change)="selectCoordinator($event)"
                  [items]="coordinators"
                  [multiple]="true"
                  bindLabel="fullName"
                  formControlName="coordinator"
                  [required]="true"
                  notFoundText="{{ 'GENERAL.NOTFOUNDTEXT' | translate }}"
                >
                </mtx-select>

                 <!-- <mat-error>Please choose a food</mat-error>  -->
              </mat-form-field>
               
              </div>
             
          </div>
         
          <div class="row">
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{"MANAGERS.REGIONS" | translate}}</mat-label>
                <input matNativeControl="text" formControlName="regions"  />
              </mat-form-field>
            </div>
            <div class="input-group">
              <mat-form-field appearance="outline">
                <mat-label>{{"MANAGERS.ZONES" | translate}}</mat-label>
                <input matNativeControl="text" formControlName="zones"  />
              </mat-form-field>
            </div>
          </div>
        <div class="row">
          <div class="input-group">
            <mat-form-field appearance="outline">
              <mat-label>{{"MANAGERS.EMAILS" | translate}}</mat-label>
              <input matNativeControl="text" formControlName="emails"  />
            </mat-form-field>
          </div>
          <div class="input-group">

          </div>
        </div>
        </div>
        <mat-card-actions class="form-actions">
          <button mat-flat-button [disabled]="form.invalid" type="submit" class="button-custom1">{{"GENERAL.SAVE" | translate}}</button>
          <button mat-flat-button type="button" color="warn" (click)="clearData()">{{"GENERAL.CLEAR" | translate}}</button>
        </mat-card-actions>
        </form>
      </mat-card-content>
  
  </mat-card>
</div>

  
  
